.. role:: normal

.. image:: _static/openstack_logo.png
    :width: 24em

.. raw:: pdf

   Spacer 0 1cm

<?py if title: ?>

.. cssclass:: title

#{title}

<?py #end ?>

<?py if subtitle: ?>

.. cssclass:: subtitle

#{subtitle}

<?py #end ?>

.. raw:: pdf

   Spacer 0 13cm

.. cssclass:: author

:normal:`#{date}`

.. raw:: pdf

   PageBreak
